<form class="form-inline search-form form-group" ng-submit="search(query, rows)">
  <div class="input-group">
    <input ng-model="query" type="search" class="form-control" id="search-input" autocomplete="off" placeholder="Search..." uib-typeahead="address for address in getSuggest($viewValue) | limitTo:5" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms='200' class="form-control"/>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary glyphicon glyphicon-search" id="search-button"></button>
    </span>
  </div>
  <select id="search-select" class="form-control" ng-model="rows" ng-options="r for r in roptions"></select>
</form>
