
html, body {
	/*height: 100%;*/
	background-color: #fdfdfd;
	/*background-color: #F5F1D0;*/
}

body {
	padding-bottom: 50px;
}

body * {
	font-family: 'Open Sans', sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

.bold-font {
	font-weight: 700;
}

.normal-font {
	font-weight: 400;
}

.light-font {
	font-weight: 300;
}

/* ------ FACET ------ */
.solr-facet-template {
	/*margin-left: 15px;*/
}

.solr-facet-template span {
	size: 18px;
}

.facet-list {
	list-style: none;
	/*padding-left: 15px;*/
}

/* ------ SEARCH ------ */
.search-form {
	/*margin: auto;*/
	padding-top: 60px;
	/*text-align: center;*/
	padding-bottom: 20px;
}

[uib-typeahead-popup].dropdown-menu {
	display:block;
	width: 400px;
}

.search-form #search-input {
	width: 400px;
	/*max-width: 300px;	*/
}

.search-form  #search-input:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-form #search-select {
	/*height: 100%;*/
	box-shadow: none;
	width: 45px;
}

.search-logo {
	text-align: center;
	margin: auto;
}

#search-button {
	top: 0px;
}

/* ------ RESULT ------ */
.result-template {
	padding-top: 20px;
}

.result-template .result-panel {
	padding: 10px;
}

.result-template .search-logo {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

.result-template .search-logo img {
	width: 80%;
	height: auto;
}

.result-template .thumbnail-link {
	width: 80%;
	/*display: inline-block;*/
}


.result-detail-panel .vessel-thumbnail {
	width: 100%;
	padding: 4px;
	border: solid 4px #fff;
	/*display: block;*/
}

.result-detail-panel .result-detail-table tr {
	line-height: 22px;
}

.result-detail-panel .result-detail-table td {
	padding-left: 10px;
}

#result-info {
	height: 40px;
}

#result-info #result-time-bar {
	line-height: 40px;
	padding-left: 5px;
	color: rgb(128, 128, 128);
}

.result-pagination ul {
	/*width: 100%;*/
	/*margin-top: 15px;*/
	/*margin-bottom: 15px;*/
	margin: 0px;
}

.result-pagination .pagination {
	float: right;
}