
html, body {
	/*height: 100%;*/
	background-color: #fdfdfd;
	/*background-color: #F5F1D0;*/
}

body {
	padding-bottom: 50px;
}
footer {
	position: absolute;
	bottom: 0;
}

/* ------ FACET ------ */
.solr-facet-template {
	margin-left: 15px;
}

/* ------ SEARCH ------ */
.search-form {
	/*margin: auto;*/
	padding-top: 30px;
	/*text-align: center;*/
	margin-bottom: 45px;
}

.search-form #search-input {
	width: 300px;
	/*max-width: 300px;	*/
}

.search-form #search-select {
	height: 100%;
	box-shadow: none;
}

.search-logo {
	text-align: center;
	margin: auto;
}


/* ------ RESULT ------ */
.result-template {
	padding-top: 50px;
}

.result-template .search-logo {
	text-align: center;
	margin: auto;
}

.result-template .search-logo img {
	width: 60%;
	height: auto;
}

.result-detail-panel .vessel-thumbnail {
	width: 100%;
}

.result-pagination {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.result-pagination .pagination {
	margin: auto;
	display: table;
}