
html, body {
	/*height: 100%;*/
	background-color: #fdfdfd;
}

body {
	padding-bottom: 50px;
}
footer {
	position: absolute;
	bottom: 0;
}


/* ------ SEARCH ------ */
.search-template {
	padding-top: 15vh;
	width: 50vw;
	margin: auto;

}

.search-template .search-form {
	/*margin: auto;*/
	margin-top: 30px;
	text-align: center;
}

.search-template .search-logo {
	text-align: center;
	margin: auto;
}

.search-template .search-form .search-input {
	width: 300px;
	max-width: 300px;	
}

/* ------ RESULT ------ */
.result-template {
	padding-top: 50px;
}

.result-template .search-logo {
	text-align: center;
	margin: auto;
}

.result-template .search-logo img {
	width: 60%;
	height: auto;
}