<div class="row search-template" ng-hide={{!inSearch.mode}}>
  <div class="search-logo" ng-click="goHome()">
    <img src="assets/img/new-logo.png">
  </div>
  <!-- <solr-search query='{{params.q}}'></solr-search> -->
</div>

<!-- <div class="row result-template" ng-hide={{inSearch.mode}}> -->
<div class="result-template">
  <div class="row">
    <div class="col-sm-3">
      <div class="search-logo" ng-click='goHome()'>
        <img src="assets/img/new-logo.png">
      </div>
    </div>  

    <div class="col-sm-9">
      <solr-search query='{{params.q}}' preload='true'></solr-search>
      <div id="result-info" class="row">
        <div class="col-md-6">
          <span id="result-time-bar">About {{numFound.toLocaleString()}} results ({{searchTime}} seconds)</span>
        </div>
        <div class="col-md-6">
          <result-pagination pagecount='pagecount' currentpage='currentpage'></result-pagination>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      
      <solr-facet-group>
        <solr-selected><h4 class="bold-font">Selected Facet:</h4></solr-selected>
        <h4 class="bold-font">Facet List:</h4>
        <solr-facet display="Flag Country" field="keyValues.vesselFlag" range=false ></solr-facet>
        <solr-facet display="Length" field="keyValues.vesselSizeLength" range=true ></solr-facet>
        <solr-facet display="Width"  field="keyValues.vesselSizeWidth" range=true ></solr-facet>
        <solr-facet display="Ship Type"  field="keyValues.vesselType" range=false ></solr-facet>
      </solr-facet-group>
    </div>
    <div class="col-md-9">
      <div class="result-panel panel panel-default">
        <ul class="list-unstyled">
          <li ng-repeat="doc in docs">
            <result-document record=doc ></result-document>
          </li>
        </ul>
      </div>
      <result-pagination pagecount='pagecount' currentpage='currentpage'></result-pagination>

    </div>
  </div>
</div>